src/resources/META-INF/wsdl/localhost_15301/PraxiconTreeService/PraxiconTree.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://realtree.utils.praxicon.poeticon.csri/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://realtree.utils.praxicon.poeticon.csri/" name="PraxiconTreeService">
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="PraxiconTreePortBinding_HelloWorld_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns1="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns1:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="PraxiconTreePortBinding_getImageBytes_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns2="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns2:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="PraxiconTreePortBinding_queryPRAXICON_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns3:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="PraxiconTreePortBinding_getTree_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns4="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns4:Optional="true" />
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://realtree.utils.praxicon.poeticon.csri/" schemaLocation="http://localhost:8080/PraxiconTreeService/PraxiconTree?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/PraxiconTreeService/PraxiconTree?xsd=2" />
</xsd:schema>
</types>
<message name="getTree">
<part name="parameters" element="tns:getTree" />
</message>
<message name="getTreeResponse">
<part name="parameters" element="tns:getTreeResponse" />
</message>
<message name="HelloWorld">
<part name="parameters" element="tns:HelloWorld" />
</message>
<message name="HelloWorldResponse">
<part name="parameters" element="tns:HelloWorldResponse" />
</message>
<message name="getImageBytes">
<part name="parameters" element="tns:getImageBytes" />
</message>
<message name="getImageBytesResponse">
<part name="parameters" element="tns:getImageBytesResponse" />
</message>
<message name="queryPRAXICON">
<part name="parameters" element="tns:queryPRAXICON" />
</message>
<message name="queryPRAXICONResponse">
<part name="parameters" element="tns:queryPRAXICONResponse" />
</message>
<portType name="PraxiconTree">
<operation name="getTree">
<input wsam:Action="http://realtree.utils.praxicon.poeticon.csri/PraxiconTree/getTreeRequest" message="tns:getTree" />
<output wsam:Action="http://realtree.utils.praxicon.poeticon.csri/PraxiconTree/getTreeResponse" message="tns:getTreeResponse" />
</operation>
<operation name="HelloWorld">
<input wsam:Action="http://realtree.utils.praxicon.poeticon.csri/PraxiconTree/HelloWorldRequest" message="tns:HelloWorld" />
<output wsam:Action="http://realtree.utils.praxicon.poeticon.csri/PraxiconTree/HelloWorldResponse" message="tns:HelloWorldResponse" />
</operation>
<operation name="getImageBytes">
<input wsam:Action="http://realtree.utils.praxicon.poeticon.csri/PraxiconTree/getImageBytesRequest" message="tns:getImageBytes" />
<output wsam:Action="http://realtree.utils.praxicon.poeticon.csri/PraxiconTree/getImageBytesResponse" message="tns:getImageBytesResponse" />
</operation>
<operation name="queryPRAXICON">
<input wsam:Action="http://realtree.utils.praxicon.poeticon.csri/PraxiconTree/queryPRAXICONRequest" message="tns:queryPRAXICON" />
<output wsam:Action="http://realtree.utils.praxicon.poeticon.csri/PraxiconTree/queryPRAXICONResponse" message="tns:queryPRAXICONResponse" />
</operation>
</portType>
<binding name="PraxiconTreePortBinding" type="tns:PraxiconTree">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getTree">
<wsp:PolicyReference URI="#PraxiconTreePortBinding_getTree_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#PraxiconTreePortBinding_getTree_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#PraxiconTreePortBinding_getTree_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="HelloWorld">
<wsp:PolicyReference URI="#PraxiconTreePortBinding_HelloWorld_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#PraxiconTreePortBinding_HelloWorld_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#PraxiconTreePortBinding_HelloWorld_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="getImageBytes">
<wsp:PolicyReference URI="#PraxiconTreePortBinding_getImageBytes_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#PraxiconTreePortBinding_getImageBytes_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#PraxiconTreePortBinding_getImageBytes_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="queryPRAXICON">
<wsp:PolicyReference URI="#PraxiconTreePortBinding_queryPRAXICON_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#PraxiconTreePortBinding_queryPRAXICON_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#PraxiconTreePortBinding_queryPRAXICON_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PraxiconTreeService">
<port name="PraxiconTreePort" binding="tns:PraxiconTreePortBinding">
<soap:address location="http://localhost:8080/PraxiconTreeService/PraxiconTree" />
</port>
</service>
</definitions>