xsd/relation_type.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.csri.gr/relation_type" version="1.0">

  <xs:import schemaLocation="schema13.xsd"/>

  <xs:complexType name="relation_type">
    <xs:sequence>
      <xs:element minOccurs="0" name="backwardName" type="relationNameBackward"/>
      <xs:element minOccurs="0" name="forwardName" type="relationNameForward"/>
    </xs:sequence>
    <xs:attribute name="right-to-left_name" type="xs:string"/>
    <xs:attribute name="left-to-right_name" type="xs:string"/>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>
</xs:schema>
