xsd/visual_representation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.csri.gr/visual_representation" version="1.0">

  <xs:import schemaLocation="schema13.xsd"/>

  <xs:complexType name="visual_representation">
    <xs:sequence>
      <xs:element minOccurs="0" name="mediaType" type="mediaType"/>
      <xs:element minOccurs="0" name="representation" type="xs:string"/>
      <xs:element minOccurs="0" name="URI" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long"/>
  </xs:complexType>
</xs:schema>
